@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    text-align: center;
    padding: 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "card card card"
    "card card card";
    grid-gap: 10px;
}

.card {
    max-width: 200px;
    min-width: 100px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 20%;
    width: 200px;
    height: 200px;
    border-radius: 0.9rem;
    grid-area: "card";
    box-shadow: 6px 10px 15px 1px rgb(8,0,0,0.507);
}

#cardA {
    background-color: rgba(241, 13, 101, 0.404);
    color: azure;
}

#cardB {
    background-color: rgba(29, 20, 27, 0.452);
    color: azure;
}

#cardC {
    background-color: rgba(87, 150, 245, 0.548);
    color: azure;
}

#cardD {
    background-color: rgba(241, 13, 101, 0.404);
    color: azure;
    font-size: 90px;
}

#cardE {
    background-color: rgba(29, 20, 27, 0.452);
    color: azure;
    font-size: 90px;
}

#cardF {
    background-color: rgba(87, 150, 245, 0.548);
    color: azure;
    font-size: 90px;
}

@media (max-width: 900px) {
    .container {
        grid-template-areas: 
        "card card"
        "card card"
        "card card";
        grid-gap: 5px;
    }
}

@media (max-width: 520px) {
    .container {
        grid-template-areas: 
        "card"
        "card"
        "card"
        "card"
        "card"
        "card";
        grid-gap: 5px;
    }
}



